/* 

/* ********************************  */
/* For Small Laptops(Below 1366px) ->  1366px/16px = 85.375em */
/* ******************************** */
@media (max-width: 85.375em) {
}

/* ********************************  */
/* For Landscape Tablets(Below 1200px) ->  1200px/16px = 75em */
/* ******************************** */

@media (max-width: 75em) {
  /* 9px/16px =  0.5625*/
  /* font-size Adjustment */
  html {
    font-size: 56.25%;
  }
}

/* ********************************  */
/* For Tablet(Below 960px) ->  960px/16px = 60em */
/* ******************************** */
@media (max-width: 60em) {
  /* 8px/16px =  0.5*/
  /* font-size Adjustment */
  html {
    font-size: 50%;
  }
}

/* ********************************  */
/* For Small-Tablets(Below 760px) ->  760px/16px = 47.5em */
/* ******************************** */
@media (max-width: 47.5em) {
  /* 7px/16px =  0.4375*/
  html {
    font-size: 43.75%;
  }
}

/* ********************************  */
/* For Phones(Below 560px) ->  560px/16px = 35em */
/* ******************************** */
@media (max-width: 35em) {
  /* 6px/16px =  37.5*/
  html {
    font-size: 37.5%;
  }
}
